
body{
  background-color: sandybrown;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#display-image{
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 5rem;
  background-color: white;
  width:10rem;
  height:10rem; 
}

.arrow{
  visibility: hidden;
}

#right-arrow{
  visibility: hidden;
}
#images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  
}
#img-container{
  
  margin-bottom: 30px;

}
#img{
  width:200px;
  height: 150px; 
}